.App {
  display: inline-block;
  margin-left: 60%;
  margin-bottom: 10%;
  margin-top: 1%;
  padding-left: 1%;
}

.body{
  position: relative;
  background-image: url(./Screenshot\ 2022-05-16\ 111138.png);
  background-position:10% ;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin: 10px;
}

.text{
  position: absolute;
  text-align: center;
  bottom: 13%;
  left: 18%;
  right:60%
}

.input{
  width: 300px;
}

.label{
  color: #8d9798;
}

.btn{
  padding: 12px 30px;
  border: none;
  color: white;
  background: #33adff;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
